
body {
  font-family: helvetica,sans-serif;
  font-size: 1em;
  color: #424242;
  background-color: #CCCCCC;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  background-color: #FFFFFF;
}

#header_img_main {
  margin: auto;
  background-image: url("../imgs/seine_stones.jpg");
  background-size: cover;
  min-height: 250px;
}

#header_img_sub {
  margin: auto;
  background-image: url("../imgs/seine_stones.jpg");
  background-size: cover;
  min-height: 75px;
}

a:link {
  color: #B85C00;
}

a:visited {
  color: #B85C00;
}

a:hover {
  color: orange;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#header {
  position: fixed;
  font-size: 2em;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #666666;
  background-color: #000000;
  font-family: Pompiere;
}

#top-nav {
  width: 50%;
  margin-top: 1%;
  font-size: .6em;
  font-weight: bold;
  float: right;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav li {
  padding-left: 3%;
  display: inline;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
}

#content {
  width: 90%;
  padding-left: 5%;
  padding-top: 1%;
  padding-right: 50%;
  padding-bottom: 5%;
  float: left;
  font-size: .75em;
  min-height: 300px;
}

#content h1,h2,h3 {
    font-family: Pompiere;
    font-weight: bold;
}

#content table {
  border-collapse: collapse;
}

.post_date {
  width: 5%;
  font-family: Pompiere;
  text-align: right;
  font-weight: bold;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #CCCCCC;
  padding-right: 1%;

}

.post_title {
  font-family: Pompiere;
  font-weight: bolder;
  font-size: 1.5em;
  padding-left: 1%;
}

.post_content {
  font-size: 1em;
  padding: 1%;
  border-top: 1px solid #CCCCCC;
}

.post_footer {
  color: #B85C00;
  font-size: .8em;
  text-align: center;
  font-style: italic;
}

.post_snippet {
  font-size: 1em;
  padding: 1%;
  border-top: 1px solid #CCCCCC;
}

.post_snippet_more {
  color: #B85C00;
  font-size: .8em;
  text-align: center;
  font-style: italic;
}

#about_me_img {
  padding: 2% 2% 5% 2%;
  float: right;
  max-width: 80%;
  border: 1px solid #CCCCCC;
}


.post-date{
  font-weight: bold;
  font-style: italic;
  font-size: .75em;
}


#footer{
  width: 95%;
  clear: both;
  background-color: #E8E8E8;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: pompiere;
  font-size: .75em;
  font-weight: bold
}

#footer img {
  vertical-align: bottom;
  padding: .2%;
}

.code {
  font-family: courier;
  background-color: #FFFFCC;
  padding: 1%;
  display: block;
}